<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employees</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="margin-top:40px">
    <div class="container col-md-6 col-md-offset-3">
        <div>
            <h3>Employee Directory</h3>
            <a th:href="@{/api/v1/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
                Add Employee
            </a>
        </div>
        <br>
        <div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th><th>Last Name</th><th>Email</th>
                    </tr>
                </thead>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.firstName}"></td>
                    </tr>
            </table>
        </div>
    </div>
</body>
</html>